global
    log /var/lib/haproxy/dev/log local0 debug
    chroot /var/lib/haproxy
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log /var/lib/haproxy/dev/log local0 debug
    mode tcp
    option tcplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 5000
    timeout client 10000
    timeout server 10000

frontend sco 0.0.0.0:80
    log 127.0.0.1 local0
    mode tcp
    default_backend sco_bknd



backend sco_bknd
    stats uri /haproxy?stats
    balance roundrobin


    server testfinal1 172.21.0.4:5000 check

    server testfinal2 172.21.0.2:5000 check

backend testfinal1_bknd
    server testfinal1 172.21.0.4:5000 check

backend testfinal2_bknd
    server testfinal2 172.21.0.2:5000 check

