global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 5000
    timeout client 10000
    timeout server 10000

listen sco 0.0.0.0:80
    mode http
    stats enable
    stats uri /haproxy?stats
    balance roundrobin
    option httpclose
    option forwardfor
    
    server credit_card1 172.17.0.48:5000 check
    server credit_card2 172.17.0.47:5000 check
    server credit_card3 172.17.0.46:5000 check
    server credit_card4 172.17.0.45:5000 check
    server credit_card5 172.17.0.44:5000 check
    server credit_card6 172.17.0.43:5000 check
